<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/templates/index.html">Agenda</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Persona</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <!-- Nombre -->
                        <div class="mb-3">
                            <label for="modal_name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="modal_name" placeholder="Nombre" autofocus
                                required="true">
                        </div>
                        <!-- Dirección -->
                        <div class="mb-3">
                            <label for="modal_address" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="modal_address" placeholder="Dirección" required>
                        </div>
                        <!-- Teléfono -->
                        <div class="mb-3">
                            <label for="modal_phone_number" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="modal_phone_number" placeholder="Teléfono"
                                required>
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label for="modal_email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="modal_email" placeholder="Email" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Editar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Container-->
    <div class="container my-2 py-2">
        <div class="row">
            <!-- Alert -->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div id="alert" class="alert alert-dismissible fade" role="alert">
                    <strong id="message-alert" class="center"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <!-- Formulario -->
                <form id="formPerson" method="post">
                    <div class="card">
                        <h2 class="m-2 p-1 text-center">Registro</h2>
                        <div class="card-body">
                            <!-- Nombre -->
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="name" placeholder="Nombre" autofocus
                                    required="true">
                            </div>
                            <!-- Dirección -->
                            <div class="mb-3">
                                <label for="address" class="form-label">Dirección</label>
                                <input type="text" class="form-control" id="address" placeholder="Dirección" required>
                            </div>
                            <!-- Teléfono -->
                            <div class="mb-3">
                                <label for="phone_number" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="phone_number" placeholder="Teléfono"
                                    required>
                            </div>
                            <!-- Email -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <!-- Button Add -->
                            <div class="d-grid gap-2">
                                <button id="btn_add" class="btn btn-success" type="submit">Agregar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!-- Table -->
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <h2 class="center">Contactos</h2>
                <table id="table" class="table table-dark table-striped table-hover table-sm">
                    <thead>
                        <tr class="center">
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- contenido -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="module" src="/js/index.js"></script>
</body>

</html>